---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ваш лучший гид по путешествиям">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/news.css">
    <title>Compass.Travel</title>
  </head>
  <body>
    {% include header.html %}
    <main>
      <section class="home">
     <img class="video-slide active" src="img/main/map.jpg"></img>
     <div class="content active">
       <h1>Новости</h1>
       <p></p>
     </div>
     {% include media-menu.html %}
      <div class="scrolldown">
        <a href="#news"><span></span>
        <span></span></a>
      </div>
   </section>
     <div class="allnews" id="news">
     <div class="news">
       <h3>«Омикрон» - новые ограницения?</h3>
       <br>
       <p>В России пока не планируют новых ограничений из-за нового штамма вируса - «омикрон» -
         Дмитрий Хубезов, глава комитета Госдумы по охране здоровья.
       На данный момент Россия ввела обязательный двухнедельный карантин для прибывающих
       из ЮАР и граничащих с ней стран, а также ограничила срок действия ПЦР-тестов: вместо 72 часов — 48.</p>
       <p><span>07/12/2021</span></p>
     </div>
     <div class="news">
       <h3>«Спутник V» - добро пожаловать в Саудовскую Аравию.</h3>
       <br>
       <p>С января 2022 года власти Саудовской Аравии разрешили краткосрочный въезд в страну, но не всем.
         В первую очередь послабления касаются паломников, совершающих хадж или умру к святыням ислама в городах Мекка и Медина.
         Все прибывающие должны сдать ПЦР-тест не ранее чем за 72 часа до пересечения границы, а так же зарегистрироваться в
         приложениях Tatamman и Tawakkalna,  По прибытию, все пассажиры, вакцинированные «Спутником V» обязаны сдать ПЦР-тест
         и пробыть в карантине 48 часов. На весь срок поездки обязательно иметь при себе страховой полис, покрывающий расходы
         на случай заболевания COVID-19.</p>
         <p><span>06/12/2021</span></p>
     </div>
     <div class="news">
       <h3>Новый Год во Вьетнаме?</h3>
       <br>
       <p>Туроператоры собираются возобновить полеты во Вьетнам. Вьетнам признает российские сертификаты,
         выданные привитым препаратом Sputnik V, но для въезда в страну сертификата будет недостаточно. По-мимо сертификата,
         или документа, подтверждающего статус переболевшего COVID-19, для въезда в страну понадобятся: 1)отрицательный результат теста на коронавирус,
         выполненный методом RTPCR/RT-LAMP не ранее 72-х часов до вылета (ПЦР-тест должны иметь все туристы, включая детей любых возрастов);
         2) медицинская страховка, покрывающая лечение от COVID-19 на сумму не менее 50 000 долларов. По прибытию на первый и на
         седьмой день все туристы сдают бесплатные ПЦР-тесты.</p>
         <p><span>06/12/2021</span></p>
     </div>
     <div class="news">
       <h3>Бахрейн признает «Спутник V»? </h3>
       <br>
       <p>а/к Россия возобновила авиасообщение с королевством. На сегодняшний день правительство Бахрейна признало две российские вакцины —
         «Спутник V» и «Спутник Лайт». С даты получения второй дозы и до въезда в Бахрейн должно пройти не менее 14 дней
         (если вакцина однокомпонентная — то с момента первой дозы). Следовательно, вакцинированным россиянам не нужно проходить
         карантин по прибытии в страну, но сдать тест в аэропорту, на пятый и десятый дни нахождения в стране все же придется.
         Все тесты оплачиваются вмсете по прибытию. Их стоимость составляет 36 динаров (около $96). Россиянам, не получившим вакцину,
         грозит десятидневный карантин.</p>
         <p><span>05/12/2021</span></p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
     <div class="news">
       <h3>Lorem ipsum</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquam aliquam arcu a efficitur. Aenean maximus magna ut justo auctor eleifend. Duis vulputate, neque a gravida laoreet, augue nibh faucibus purus, sit amet sodales neque justo in tellus. Sed ac luctus mauris. Vivamus sit amet rhoncus justo, ac porta purus. Aliquam vitae justo nec tellus fermentum laoreet et et lorem. Sed pellentesque efficitur sem, in iaculis ex aliquet vitae. Suspendisse est odio, elementum porttitor augue nec, convallis ultrices elit.</p>
     </div>
 </div>
</main>

    <script type="text/javascript">
       //Javascript of contact form
      const contactBtn = document.querySelector(".contact-btn");
      const contactForm = document.querySelector(".contact-form");
      const submitBtn = document.querySelector(".form-btn-send");
      const closeBtn = document.querySelector(".form-btn-close");

      contactBtn.addEventListener("click", () => {
        contactBtn.classList.toggle("active");
        contactForm.classList.toggle("active");
      });

      submitBtn.addEventListener("click", () => {
        submitBtn.classList.toggle("active");
        contactForm.classList.remove("active");
      });

      closeBtn.addEventListener("click", () => {
        closeBtn.classList.toggle("active");
        contactForm.classList.remove("active");
      });

      //Javascript of responsive navigation
      const menuBtn = document.querySelector(".menu-btn");
      const navigation = document.querySelector(".navigation");

      menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("active");
        navigation.classList.toggle("active");
      });

    </script>
    {% include footer.html %}
  </body>
</html>
