<div class="footer">
  <form action="mailto:rqst@compass.travel">
    <input type="text" placeholder="Ваше имя" required>
    <input type="text" placeholder="Ваш контактный телефон" required>
    <textarea placeholder="Ваш запрос" style="height:50px"></textarea>
    <div class="form-btns">
      <input class="form-btn-send" type="submit" value="Отправить">
    </div>
  </form>
  <address>
    124365, 1614, Zelenograd, Moscow
    p: <a href="tel:+74953240064">+7 (495) 324-00-64</a>
    e: <a href="mailto:info@compass.travel">info@compass.travel</a>
  </address>
</div>
