<img class="video-slide active" src="img/main/map.jpg"></img>
<img class="video-slide" src="img/main/palm2.jpg"></img>
<img class="video-slide" src="img/main/yacht3.jpg"></img>
<img class="video-slide" src="img/main/jet.jpg"></img>
<img class="video-slide" src="img/main/concierge.jpg"></img>
<img class="video-slide" src="img/main/mice.jpg"></img>
<div class="content active">
  <h1>Новости</h1>
  <p></p>
  <a href="news.html">Подробнее</a>
</div>
<div class="content">
  <h1>Путешествия</h1>
  <p></p>
  <a href="travel.html">Подробнее</a>
</div>
<div class="content">
  <h1>Яхты</h1>
  <p></p>
  <a href="yachts.html">Подробнее</a>
</div>
<div class="content">
  <h1>Бизнес Авиация</h1>
  <p></p>
  <a href="jets.html">Подробнее</a>
</div>
<div class="content">
  <h1>Консьерж</h1>
  <p></p>
  <a href="concierge.html">Подробнее</a>
</div>
<div class="content">
  <h1>MICE<br></h1>
  <p></p>
  <a href="mice.html">Подробнее</a>
</div>
<div class="slider-navigation">
  <div class="nav-btn active"></div>
  <div class="nav-btn"></div>
  <div class="nav-btn"></div>
  <div class="nav-btn"></div>
  <div class="nav-btn"></div>
  <div class="nav-btn"></div>
 </div>
<script>
   //Javascript for video slider navigation
   const btns = document.querySelectorAll(".nav-btn");
   const slides = document.querySelectorAll(".video-slide");
   const contents = document.querySelectorAll(".content");

   var sliderNav = function(index){
     btns.forEach((btn) => {
       btn.classList.remove("active");
     });

     slides.forEach((slide) => {
       slide.classList.remove("active");
     });

     contents.forEach((content) => {
       content.classList.remove("active");
     });

     btns[index].classList.add("active");
     slides[index].classList.add("active");
     contents[index].classList.add("active");
   }

   //Slides autoswitch
   let sliderIndex=0;

   const intervalId=window.setInterval(()=>{
     sliderNav(sliderIndex);
     sliderIndex=sliderIndex+1;

     if (sliderIndex===slides.length){
       sliderIndex=0;
     }

   }, 7 * 1000);

   //Slides autoswitch end

   btns.forEach((btn, i) => {
     btn.addEventListener("click",() => {
       window.clearInterval(intervalId); //cancel autoswitch

       sliderNav(i);
     });
   });
</script>
