html,
body {
  height: 100%;
}

header,
.mainNav,
main,
footer {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

body {
  margin: 0 0 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}

main {
  padding: 10px;
  position: relative;
  height:auto !important;
  min-height: auto;
  height: 100%;
}

.head {
  position: relative;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.fsocial {
  color: black;
  padding-top: 15px;
  gap: 5px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: black;
}

.fa.fa-compass {
  font-size: 30px;
  padding: 0;
  float:right;
}

.fa:hover {
  opacity: 0.7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.navbar {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;

}

.mainNav {
  overflow: hidden;
  background-color: transparent;
}

.mainNav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.mainNav a:hover {
  background-color: white;
  color: #808080;
}

.mainNav a.active {
  background-color: white;
  color: white;
}

.mainNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .mainNav a {display: none;}
  .mainNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .mainNav.responsive {position: relative;}
  .mainNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
  }
  .mainNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  gap: 10px;
  padding: 20px;
  flex-shrink: 2;
  flex-wrap: wrap;
  font-family: 'Playfair Display', serif;
}

.footer {
  text-align: center;
}

form {
  border: none;
  font-family: 'Playfair Display', serif;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}

form span {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.containerform {
  padding: 0;
  background-color: transparent;
}

.containerformsubscribe{
  padding: 20px;
  margin-bottom: 30px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

input[type=checkbox] {
  margin-top: 16px;
  font-family: 'Playfair Display', serif;
}

input[type=submit] {
  background-color: grey;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
