@font-face {
  font-family: MyriadPro;
  src: url("fonts/MYRIADPRO-REGULAR.woff");
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  src: url("fonts/MYRIADPRO-BOLD.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyriadPro", sans-serif;
}

html,
body {
  height: 100%;
}

main {
  flex-grow: 1;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
}

header .brand {
  color: #FFFEFE;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -2px;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #FFFEFE;
  font-size: 24px;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content:"";
  position: absolute;
  background: #FFFEFE;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFE;
}

.home:before {
  z-index: 400;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 400;
  color: #FFFEFE;
  width: 60%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 75px;
  margin-bottom: 20px;
}
.home .content h1 span {
  font-size: 80px;
  font-weight: bold;
}

.home .content p {
  margin-bottom: 55px;
}

.home .content a {
  background: rgb(1, 1, 1);
  opacity: 0.8;
  padding: 15px 25px;
  color: #FFFFFE;
  font-size: 20px;
  font-weight: 400;
  text-decoration:  none;
  border-radius: 2px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a {
  color: #FFFEFE;
  font-size: 30px;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.contact-form {
 display: none;
}

.contact-form.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.3);
  opacity: 1;
}

.contact-form.active .form-items {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  margin: 30px;
}

.contact-form.active .form-items {
  background: rgb(1, 1, 1);
  opacity: 0.75;
  width: 600px;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 /20%);
}

.form-btns {
  display: flex;
  gap: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

input[type=submit] {
  background: rgb(1, 1, 1);
  opacity: 0.5;
  padding: 7px 7px;
  color: #FFFFFE;
  font-size: 18px;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(222, 222, 231, 1);
  color: black;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255,255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: rgba(252, 237, 245, 0.47);
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
 position: absolute;
 width: 100%;
 clip-path: circle(0% at 0 50%);
}

.video-slide.active {
 clip-path: circle(150% at 0 50%);
 transition: 1s ease;
 transition-property: clip-path;
}

.menu-btn {
  display: none;
}

.scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%)
             rotate(45deg);
  z-index: 500;
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #FFFEFE;
  border-right: 3px solid #FFFEFE;
  animation: animate 1.5s linear infinite;
  z-index: 500;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 1;
  }

  100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
}

.allnews {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

}

.news {
  display: block;
  background-color: #FFFEFE;
  opacity: 0.8;
  color: rgb(1, 1, 1);
  padding: 1rem;
  height: auto;
}

.news h3 {
  text-align: center;
}

.news p {
  text-align: justify;
}

.news span {
  font-style: italic;
  float: right;
  color: rgb(1, 1, 1, 0.7);
}

.newsbutton a {
  display: flex;
  width: 180px;
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  background: #FFFFFE;
  padding: 15px 25px;
  color: rgb(1, 1, 1, 0.8);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid rgb(1, 1, 1, 0.8);
}

.newsbutton a:hover {
  background: rgb(1, 1, 1, 0.8);
  color: #FFFFFE;
  border: 1px solid rgb(1, 1, 1, 0.8);
}

.footer {
  display: block;
  position: sticky;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  color: #FFFFFE;
  font-size: 20px;
  flex-wrap: wrap;
  z-index: 999;
  background: rgb(1, 1, 1, 0.9);
}

.footer address {
  text-decoration: none;
  font-style: normal;
}

.footer address a {
  color: #FFFFFE;
  cursor: pointer;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .video-slide {
    object-fit: cover;
    width: auto;
    object-position: center;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
   display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(1, 1, 1, 0.6);
    z-index: 800;
  }

  header .navigation .navigation-items a {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    margin: 30px;
  }

  header .navigation .navigation-items a:before {
    background: rgba(255, 255, 255, 1);
    height: 1.5px;
  }

  header .navigation.active .navigation-items {
    background: rgb(1, 1, 1);
    opacity: 0.75;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    text-shadow: 1px 1px #3B0B2F;
  }

  .home .content h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 20px;
  }

   .scrolldown {
     z-index: 500;
  }
  .scrolldown span {
    z-index: 500;
  }

  .menu-btn {
    display: block;
    color: #FFFFFE;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1000;
  }

  .contact-form.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.3);
    opacity: 1;
    z-index: 800;
  }

  .allnews {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    display: block;
    position: sticky;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: auto;
    color: #FFFFFE;
    font-size: 18px;
    flex-wrap: wrap;
    z-index: 999;
    background: rgb(1, 1, 1, 0.9);
  }

  .footer address {
    text-decoration: none;
    font-style: normal;
  }

  .footer address a {
    color: #FFFFFE;
    cursor: pointer;
  }


@media (min-width: 600px) {
  .allnews {
    grid-template-columns: repeat(2, 1fr);
  }
}
