
form {
  border: none;
  font-family: 'Playfair Display', serif;
  background-color: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-shrink: 1;

}

form span {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.containerform {
  padding: 0;
  background-color: transparent;
}

.containerformsubscribe{
  padding: 20px;
  margin-bottom: 30px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

input[type=checkbox] {
  margin-top: 16px;
  font-family: 'Playfair Display', serif;
}

input[type=submit] {
  background-color: grey;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
