@font-face {
  font-family: MyriadPro;
  src: url("fonts/MYRIADPRO-REGULAR.woff");
}

@font-face {
  font-family: MyriadPro;
  font-weight: bold;
  src: url("fonts/MYRIADPRO-BOLD.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyriadPro", sans-serif;
}

html,
body {
  height: 100%;
}

main {
  flex-grow: 1;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  transition: 0.5s ease;
}

header .brand {
  color: #FFFEFE;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: -2px;
}

header .brand img {
  vertical-align: top;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #FFFEFE;
  font-size: 24px;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content:"";
  position: absolute;
  background: #FFFEFE;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FBEEF5;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #FFFEFE;
  width: 80%;
  margin-top: 50px;
  display: block;
}


.home .content h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 75px;
  margin-bottom: 20px;
}

.home .content p {
  margin-bottom: 55px;
  background: rgb(1, 1, 1);
  opacity: 0.8;
  padding: 15px 15px;
  font-size: 20px;
  text-align: justify;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a {
  color: #FFFEFE;
  font-size: 30px;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.contact-form {
 display: none;
}

.contact-form.active {
  display: flex;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(1, 1, 1, 0.3);
  opacity: 1;
}

.contact-form.active .form-items {
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  margin: 30px;
}

.contact-form.active .form-items {
  background: rgb(1, 1, 1);
  opacity: 0.75;
  width: 600px;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 /20%);
}

.form-btns {
  display: flex;
  gap: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

input[type=submit] {
  background: rgb(1, 1, 1);
  opacity: 0.5;
  padding: 7px 7px;
  color: #FFFFFE;
  font-size: 18px;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(222, 222, 231, 1);
  color: black;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-btn {
  display: none;
}

.scrolldown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%)
             rotate(45deg);
  z-index: 999;
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #FFFEFE;
  border-right: 3px solid #FFFEFE;
  animation: animate 1.5s linear infinite;
  z-index: 999;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
}

@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 1;
  }

  100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
}
/* Style the tab */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  width: 100%;
  padding: 15px 15px;
  font-size: 20px;
  color: rgb(1, 1, 1, 0.8);
  text-decoration: none;
  background-color: #FFFEFE;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgb(1, 1, 1, 0.8);
  color: #FFFEFE;
  border-radius: 2px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px;

  margin: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(1, 1, 1, 0.4);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent h2 {
  background-color: #FFFEFE;
  opacity: 0.5;
  color: rgb(1, 1, 1);
  margin-left: 20px;
  text-align: center;
}

.tabcontent h4 {
  background-color: #FFFEFE;
  opacity: 0.5;
  color: rgb(1, 1, 1);
  margin-left: 12px;
  text-align: center;
}

.tabcontent
.fa {
  background-color: #FFFEFE;
  opacity: 0.5;
  color: rgb(1, 1, 1);
  margin-left: 12px;
  text-align: justify;
}

.flight {
  background-color: #FFFEFE;
  color: rgb(1, 1, 1, 0.8);
  margin-left: 12px;
  text-align: justify;
}

.flight span {
  font-weight: bold;
}

.time {
  text-align: center;
}

.tabcontent .info {
  padding: 20px 20px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.jet img {
  width: 100%;
  height: 50%;
}

.description img {
  width: 100%;
  height: 40%;
  margin-top: 20px;
}

.description p {
  text-align: center;
  color: rgb(1, 1, 1, 0.5);
  font-size: 18px;
}

.description span {
  font-weight: bold;
}

main h2 {
  background-color: #FFFEFE;
  opacity: 0.5;
  color: rgb(1, 1, 1);
  margin-left: 20px;
}

.contactus a {
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: center;
  background: rgb(1, 1, 1);
  opacity: 0.5;
  padding: 15px 25px;
  color: #FFFFFE;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 2px;
}

.footer {
  display: block;
  position: sticky;
  text-align: center;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  color: #FFFFFE;
  font-size: 20px;
  flex-wrap: wrap;
  z-index: 999;
  background: rgb(1, 1, 1, 0.9);
}

.footer address {
  text-decoration: none;
  font-style: normal;
}

.footer address a {
  color: #FFFFFE;
  cursor: pointer;
}

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .video-slide {
    object-fit: cover;
    width: auto;
    object-position: center;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
   display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(1, 1, 1, 0.6);
  }

  header .navigation .navigation-items a {
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    margin: 30px;
  }

  header .navigation .navigation-items a:before {
    background: rgba(255, 255, 255, 1);
    height: 1.5px;
  }

  header .navigation.active .navigation-items {
    background: rgb(1, 1, 1);
    opacity: 0.75;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    text-shadow: 1px 1px #3B0B2F;
  }

  .home .content h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .home .content h1 span {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0;
  }

  .menu-btn {
    display: block;
    color: #FFFFFE;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 999;
  }

  .contact-form.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.3);
    opacity: 1;
    z-index: 1000;
  }

  .allnews {
    grid-template-columns: repeat(1, 1fr);
  }

  .tabcontent .info {
    grid-template-columns: repeat(1, 1fr);
  }

  .jet img {
    width: 100%;
    height: 80%;
  }

  .description img {
    width: 100%;
    height: 40%;
    margin-top: 20px;
  }

  .description p {
    text-align: center;
    color: rgb(1, 1, 1, 0.5);
    font-size: 18px;
  }

  .footer {
    display: block;
    position: sticky;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    height: auto;
    color: rgb(1, 1, 1, 0.8);
    font-size: 20px;
    flex-wrap: wrap;
    z-index: 999;
    border-top: 2px solid black;
  }

  .footer address {
    text-decoration: none;
    font-style: normal;
  }

  .footer address a {
    color: rgb(1, 1, 1, 0.8);
    cursor: pointer;
  }

@media (min-width: 600px) {
  .allnews {
    grid-template-columns: repeat(2, 1fr);
  }
}
